# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ============
# FRONTEND
# ============

# dependencies
/node_modules
/packages/webapp/node_modules
/packages/webapp/.pnp
/packages/webapp.pnp.js

# testing
/packages/webapp/coverage

# production
/packages/webapp/build

# misc
/packages/webapp/.DS_Store
/packages/webapp/.env
/packages/webapp/.env.local
/packages/webapp/.env.development.local
/packages/webapp/.env.test.local
/packages/webapp/.env.production.local

/packages/webapp/npm-debug.log*
/packages/webapp/yarn-debug.log*
/packages/webapp/yarn-error.log*

# ============
# BACKEND
# ============

/packages/server/.env
/packages/server/node_modules/
/packages/server/app.yaml
/packages/server/serverless.yml

.turbo